.button
{
    -fx-background-radius: 20;
    -fx-background-color:  #B98D7C;
}

.button:hover
{
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-border-color:  #B98D7C;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}

.button:pressed
{
    -fx-background-radius: 20;
    -fx-background-color:  #B98D7C;
}