.button
{
    -fx-background-radius: 20;
    -fx-background-color:   #e09112;
}

.button:hover
{
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-border-color:   #e09112;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}

.button:pressed
{
    -fx-background-radius: 20;
    -fx-background-color:   #e09112;
}